@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f1f2;
}

a {
  color: #000;
  text-decoration: none;
  font-size: larger;
}

a:hover {
  color: #8b7c91;
}

button {
  background-color: #3d4268;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  font-size: medium;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.header {
  background-color: #2c2c2c;
  color: #fff;
  margin-bottom: 20px;
}

.section {
  border-radius: 10px;
  width: 800px;
  margin: auto;
  margin-bottom: 20px;
  padding: 20px;
}

.section_element {
  margin: 20px 0;
}

.about {
  background-color: #ced5d9;
}
.about ul {
  margin-left: 20px;
}
.about p {
  margin: 20px 0;
}

.articles {
  background-color: #c7ffcb;
}

.contacts {
  background-color: #d5daff;
}

.contacts input,
.contacts textarea {
  background-color: #e3e3ef;
  border: 1px #a7a7a7 solid;
  flex: 3;
  outline: none;
  padding: 5px;
}

.flex-container {
  display: flex;
  padding: 10px 0;
}

.direction-column {
  flex-direction: column;
}

.form label {
  flex: 1;
  align-self: center;
}

.table {
  margin: auto;
  margin-top: 20px;
  width: 600px;
  text-align: center;
  border-collapse: collapse;
}

.table tbody tr:nth-child(odd) {
  background-color: #3d4268;
  color: #fff;
}

.navigation {
  height: 60px;
}

.navigation a {
  color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
}

.navigation ul {
  display: flex;
  list-style: none;
  height: 100%;
}

.navigation li {
  display: flex;
  padding: 0 10px;
}

.navigation li:hover {
  background-color: #838688;
}
